<section class="juices-wrapper">
<h2>All Cleanses</h2>
<div class="grid-items-lines">
  <% @cleanses.each do |cleanse| %>
    <%= link_to cleanse, class: 'grid-item' do %>
      <%= image_tag cleanse.photo.url(:large) %>
      <h1><%= cleanse.name %></h1>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
</section>
