<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
</head>
<body>
  <h1>Welcome to Bloom Juice Co!</h1>

  <p>We are currently getting logistics in order for our scheduled opening in May in Issaquah.</p>
  <p>We will keep you updated on progress and might even throw in some early bird coupons for some of our products!</p>
  <p>In the mean time, thanks for joining and have a great day!</p>

</body>
</html>
