<section class="juices-wrapper">
<h2>All Featured Artists</h2>
<div class="grid-items-lines">
  <% @featured_artists.each do |featured_artist| %>
    <%= link_to featured_artist, class: 'grid-item' do %>
      <%= image_tag featured_artist.photo1.url(:large) %>
      <h1><%= featured_artist.name %></h1>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
</section>
