.video-wrapper {
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;
  z-index: -1;
  @include media($large-screen){
    bottom: 60px;
  }

  embed,
  object,
  .welcome-vid {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}
