<section class="juices-wrapper">
<h2>All Milks</h2>
<div class="grid-items-lines">
  <% @milks.each do |milk| %>
    <%= link_to milk, class: 'grid-item' do %>
      <%= image_tag milk.photo.url(:medium) %>
      <h1><%= milk.name %></h1>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
</section>

