<section class="welcome-wrapper">
  <%= render "refills/video" %>
  <div class="form-wrap">
  <h1 class="coming-soon">Bloom Juice Co Is Coming Soon</h1>
  <%= render "users/form" %>
  </div>
</section>
