<section class="cleanse-faq cleanse-process">
<h2>Cleanse Process</h2>
<h4>Each Bloom Juice cleanse will come with our personalized thermal tote and detailed instructions to guide you through the entire cleanse process. To help you reap the most benefits, we’ve compiled our best tips & tricks to help guide you into a comfortable, graceful and effective cleanse.</h4>
<h4>Below are the guidelines and preparations we’ve found to be the most effective; however, they are not mandatory. They are simply here as a guide to ensure the most enjoyable and successful cleanse for you.</h4>
<br/>
<br/>
<br/>
<br/>
<br/>
<h3>Before The Cleanse </h3><br>
<ul class="bullet">
  <li>Start preparing for your cleanse 3-5 days prior to beginning the first day. </li>
  <li>Begin to ease off heavier foods such as meat, dairy, refined carbohydrates and sugars. </li>
  <li>Cut down on caffeine, alcohol, and nicotine.</li>
  <li>2-3 days before the cleanse, consume only whole, plant-based foods.</li>
  <li>Load up on probiotics, herbal teas, and water.</li>
  <li>In the day leading up to your cleanse, focus on fresh fruits and vegetables, simple salads and plenty of water! </li>
  <li>During a cleanse, you will be drastically simplifying your diet and this preparation gives you a head start! </li>
</ul>
<br/>
<br/>
<h3>During Your Cleanse</h3>
<ul class="bullet">
  <li><b>Exfoliate.</b> Skin is the largest organ of the body and the most direct way for toxins to exit your system. Dry skin brushing is an excellent tool used to slough off dead skin while stimulating blood flow.  </li>
  <li><b>Soak up the sunshine!</b> Direct sunlight on our skin gives us energy, heightens our mood, and provides essential vitamin D to boost our immune system. Try getting at least 15 minutes to half an hour of sunshine a day, avoiding peak UV periods. </li>
  <li><b>Daily coffee enemas and/or colonics.</b>These are brilliant at removing blocked waste matter and toxins from the colon, as well as greatly supporting the liver in the detoxification process. Daily enemas are especially effective in helping with any flu like symptoms, headaches or discomfort that may arise while detoxing. If you’re not up for a colonic, gentle herbal laxative teas are also a great option. </li>
  <li><b>Epsom Salt Baths.</b> Not only is it relaxing, but it’s also a great way to flush out toxins and heavy metals from your cells; while easing inflammation and improving blood circulation.</li>
  <li><b>Hydrate. Hydrate. Hydrate.</b>  Drinking lots of water and herbal teas during your cleanse is one of the <b>keys</b> to flushing your system.</li>
  <li><b>Exercise!</b> Sweating releases toxins and supports the detoxification process. Just be sure to take a cool shower after, to keep you from reabsorbing the toxins you just expelled while sweating. Whether you’re stretching, strolling, running or swimming - getting your heart rate up will support your cleanse, just don’t overdo it. Always remember to check in and find a pace that suits your body’s energy levels.</li>
  <li><b>Rest.</b> During this time, it’s essential to give your body the rest it needs. Make yourself a priority during your cleanse. If you’re feeling tired, rest. This will only benefit the whole process, as sleep is the best time for your body to heal itself!</li>
</ul>
<br/>
<br/>
<h3>After The Cleanse</h3>
<p>We cannot state this enough, that what you do after the cleanse, is just as vital as the cleanse itself. The guidelines for coming off a cleanse are essentially the same as the way you prepared for it, only in reverse. </p>
<ul class="bullet">
<li>Come off your cleanse slowly… Your digestive system has been at rest during the cleanse, so be gentle when putting it back to work. As a rule of thumb you really want to take twice as many days to come out of the cleanse as you were on the cleanse. This will assure that you don’t hurt your highly absorbable, new, digestive system.</li>
<li>Break the cleanse with <b>juicy fruit</b>. Our favorites are fruits high in water content such as melons, grapes and pears as they are easy for the body to digest. </li>
<li>Eat only raw, plant-based foods the first day, such as simple salads, smoothies, and soup broths.</li>
<li>The second day plant-based cooked foods can be incorporated, though raw food is still encouraged. (Lightly steamed vegetables tossed with lemon juice is a nice option.)</li>
<li>Nuts and grains can be introduced on the third day. For example, breakfast could be some mixed nuts or soaked chia seeds with any of our almond milks.</li>
<li>By the fourth day, continue to eat as above, but you may slowly reincorporate animal protein such as steamed fish, chicken or eggs. </li>
<li>*The longer the cleanse, the longer it takes to incorporate normal foods back into your diet. </li>
<li>Eat as much probiotic-rich food in the days and weeks following your cleanse. Incorporating fermented foods such as sauerkraut, miso soup and kefir are great places to start! This will replenish your internal flora with friendly bacteria and enhance optimal digestive health. Cleaning and maintaining a healthy gut is one of the most effective ways to continue radiating that healthy glow you had while on the cleanse.</li>
<li>Take time to chew your food well. The enzymes in your saliva will help with digestion, and allow you to absorb more nutrients from your food.</li>
<li>Eat when you’re hungry, stop when you’re full. Although it may sound like common sense, many of us have developed a habit of eating out of stress, boredom, and/or emotional triggers. During your cleanse, you have essentially ‘rebooted’ your eating habits. Use this newfound accomplishment as an opportunity to become more in touch with your body’s natural cues.</li>
<li>Continue to drink raw, cold pressed juice to enjoy brilliant and vibrant health. Your body will thank you! </li>
</ul>
<br />
<br />
<br />
<br />
<br />
<br />
<small>
<h6>Cleanse Policy</h6>
<p>
Please note that you should not undertake a cleanse if you are under 18, pregnant or breastfeeding. If you have any concern, are taking specific medication or you have a medical condition please check with your doctor first. Bloom Juice is not a medical organization and our staff cannot give you medical advice or diagnosis. Any information given from us should not be interpreted as a substitute for a physician's consultation, evaluation, or treatment.
</p><br>
<h6>Cleanse Returns</h6>
<p>
All of our cleanses are made to order to ensure you are getting the freshest cold pressed juice possible! The moment you submit your payment, we'll be working hard to fulfill it. Due to the raw sensitive nature of the product, we cannot resell and therefore, all cleanses are non-refundable. There are no changes, substitutions, or exchanges permitted.
</p></small>
</section>
