<section class="our_values">
  <h2>Our Values</h2>
<%= image_tag("values.jpg") %>
<h3>Organic</h3>
<h3>Sustainable</h3>
<h3>Sourced with Care</h3>
<p>
We are committed to sourcing the highest quality foods possible. We care deeply about the health of our planet and the people in it. Our mission is to inspire lasting change by bringing health into the community, through pure organic foods. We want you to feel amazing, eat well, and be empowered to live your best life!
</p>
<p>
At Bloom Juice, our secret is simplicity. By using only the purest ingredients in their whole form, we are essentially bottling nature. We work diligently to provide synergistic blends, designed for both flavor and nutrition. We believe that when you nourish your body with radiant and uplifting foods- you begin to unlock your greatest potential. By choosing to honor ourselves and the earth, we create huge shifts around us; experiencing deeper connections, and celebrating the fact that we’re all a part of this grand organism!
</p>
<h3>Our Juicer</h3>
<p>
All of our juices are extracted using a hydraulic press. Unlike commonly used centrifugal juicers which heat and oxidize the juice by grinding the fruits and vegetables to a pulp at high speeds; hydraulic pressing maintains the temperature of the produce by applying thousands of pounds of pressure slowly and completely. This pressing action maintains the integrity of the plants’ cellular structure, resulting in the purest juice with the highest density of nutrients and flavor. We are so passionate about keeping the integrity of our products, which is why we insist on using glass over plastic. Not only are plastic bottles known to leach chemicals into beverages, causing all kinds of negative effects on our health and environment; they’re also the leading cause of pollution. Our reusable glass bottles are just another way of ensuring the quality of our juice, minimizing our carbon footprint, and protecting the resources of our planet.
</p>
<h3>Our Farms</h3>
<p>We love our farms! They grow responsibly, cherish the earth, and are just as crazy about beautiful, living foods as we are! This movement simply would not exist without them. To all of the passionate, dedicated, and extraordinary people creating real change in the world- we salute you!
</p>
</section>
