<section class="cleanse-faq">
<h2>Q&amp;A</h2>
<h3>1. Why Bloom Juice?</h3>
<p>Bloom Juice was created with one mission in mind - to lift up what inspires us! It’s not so much about ‘selling juice’, as it is an educational platform. We believe in using food as medicine, and sharing what we’ve learned through the healing power of plants. There is empowerment in recognizing that what you put into your body has a direct link with how you function, how you feel, and the quality of your life. </p>
<p>
  From day one, it’s always been about the bigger picture. We work diligently to provide synergistic blends, designed for both flavor and nutrition; versus letting the cost of ingredients control our decision making. We put a lot of thought and care into what we serve, and nothing brings us more joy than to hear the constant feedback from customers about how amazing they feel after drinking our juice! We truly feel lucky to be able to contribute in this way.
</p>
<p>
  When you taste our juices, meet our staff, and experience our brick and mortar shop, you'll know what we mean! Our mission is to inspire lasting change by bringing health into the community through pure organic foods. We want you to feel amazing, eat well, and be empowered to live your best life!
</p><br/>
<h3>2. What is cold-pressed juice?</h3>
<p>
  Cold-pressing is a method of extracting liquid from plants without breaking down enzymes or nutrients with high levels of heat or oxygen. With commonly used centrifugal juicers, the produce runs through a shredder disk at a high speed to separate juice from pulp. This method not only extracts juice that is less dense with vitamins, minerals and enzymes than cold-pressed juice, but the spinning blade brings high temperatures and oxidation into the equation, changing the chemistry and it’s deterioration factor.
</p>
<p>
  What makes cold-pressed juice so special is that it keeps the integrity of the produce completely intact, enabling your body to absorb the nutrients in their purest form. Our hydraulic press extracts every delicious drop of liquid out of a plant while keeping it’s health-giving properties intact. When we cold press our juice, it literally takes POUNDS of produce to make each 16oz. bottle, and the pulp left over is virtually dry; meaning all the nutrition is inside the juice!
</p><br/>
<h3>3. What is HPP and why we don’t use it at Bloom Juice</h3>
<p>
  HPP stands for “High Pressure Processing” and is a technique used by most companies to extend the shelf life of their product for up to six weeks. That may be great for sales, but it’s also destroying live enzymes, nutrients and minimizing flavor in the process. If your juice came from a grocery store shelf, it’s been HPP’d to extend the shelf life. Think of it this way, would you want to drink a smoothie that’s been sitting on a shelf for 30 days?
</p>
<p>
  When we say that our juices are raw, we mean that nothing in them has been cooked, subjected to high temperatures in the juicing process or pasteurized. Our juice is made the only way we think it should be done - truly raw, vibrant and enzyme rich; the way nature intended.
</p><br/>
<h3>4. Is it organic?</h3>
<p>
  Absolutely! We use 100% organic produce at all times in our juices, milks and elixirs. We also source as locally as possible.
</p><br/>
<h3>5. Why is juice so expensive?</h3>
<p>
  The short answer - Not all juice is created equal. Everything on our menu is 100% organic, sourced from sustainable and responsible farms, and we use only the highest quality ingredients. Organic farming is more labor and time-intensive, involves proper soil care and is more susceptible to influences of the climate. Because we go an extra step by cold-pressing our juice; what you receive is the most delicious, nutrient dense juice available.
</p>
<p>
  Each bottle of Bloom Juice is equivalent to 3-5 pounds (yes pounds) of organic produce! For example, the amount of veggies in our Viridescent Greens is equivalent to 6 organic salads - that’s pretty amazing! On top of that, we are committed to serving in glass bottles; keeping the integrity of these potent foods, therefore our prices reflect that. We refuse to cut corners and make a cheap product, knowing that quality is worth the effort. If you’re getting juice for a cheaper price, that’s because it’s a cheaper product to produce - it’s non-organic, not locally sourced, pasteurized, or has added water.
</p><br/>
<h3>6. How long do the products last?</h3>
<p>
  Our juices stay at 100% nutritional value for three days from the day you purchase. Because our juices are alive, be sure to keep them refrigerated. Each bottle comes with an ‘enjoy by’ sticker on the cap. We like to keep the dates conservative, but they will last an additional 3-5 days in the fridge while slowly losing their oomph. Once opened, we recommend drinking the juices and milks within 24 hours.
</p><br/>
<h3>7. Why do you use glass bottles instead of plastic?</h3>
<p>
  We are so passionate about keeping the integrity of our products, which is why we insist on using glass over plastic. Not only are plastic bottles known to leach chemicals into beverages, causing all kinds of negative effects on our health and environment; they’re also the leading cause of pollution. Our reusable glass bottles are just another way of ensuring the quality of our juice, minimizing our carbon footprint, and protecting the resources of our planet.
</p><br/>
<h3>8. What should I do with my empty glass bottles?</h3>
<p>
  We’re glad you asked:) We make it easy to keep the bottles life going! If you like money in your pocket, follow our simple steps:
</p>
<ol class="bullet">
  <li>1. Drink your juice</li>
  <li>2. Rinse bottles thoroughly</li>
  <li>3. Return empty bottles (minus the caps) and receive your deposit back towards your next purchase.</li>
</ol><br/>
<p>
  *Most Important*
</p>
<p>
  Please thoroughly rinse out each bottle before returning. We are a small company and don’t have the machinery to soak and clean the bottles properly if you have not rinsed them after your use. The best and easiest way is to rinse them immediately after consuming your juice. The longer you leave the bottles uncleaned, the more likely old matter will form on the bottle and we will not be able to refund your deposit or re use them. We appreciate everyone doing their part to conserve and re use what we can.
</p>
<br/>
<h3>9. What if my bottles are dirty?</h3>
<p>
  We can accept them, you just won't get your deposit money back.
</p><br/>
<h3>10. Can your juices be used as a meal replacement?</h3>
<p>
The answer to this question depends mostly on the individual. In particular, our nut milks are very filling and can easily substitute a meal while on the go. Although drinking our nutrient dense juice and milks are a convenient way to give your body what it needs to stay energized and nourished; we do not advocate replacing food with juice altogether. There is no substitute for insoluble fibre containing, soul replenishing food. However, if you’re looking to detoxify, break sugar cravings and give your body a reset - you might opt for our <a href="http://www.bloomjuiceco.com/cleanses">cleanse program.</a>
</p><br/>
<h3>11. Do you have a loyalty program? </h3>
<p>
  We do! For every ten stars earned, you receive a free juice! To join our loyalty program, just ask a team member as you’re checking out and we’ll get you set up :)
</p><br/>

</section>
