<section class="juices-wrapper">
<h2>All Elixirs</h2>
<div class="grid-items-lines">
  <% @elixers.each do |elixer| %>
    <%= link_to elixer, class: 'grid-item' do %>
      <%= image_tag elixer.photo.url(:medium) %>
      <h1><%= elixer.name %></h1>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
</section>

