// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-wrapper{
  position: relative;
  .form-wrap {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    .coming-soon {
      font-size: 1.25em;
      @include media($medium-screen){
        font-size: 2.5em;
      }
      color: white;
      text-align: center;
    }
    p {
      color: white;
      text-align: center;
    }
    .form-inputs, .form-actions {
      max-width: 188px;
      margin: 0 auto;
      opacity: 0.8;
    }
  }
}

