// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-wrapper{
  position: relative;
  background: url("beets.jpg") no-repeat center;
  background-size: cover;
  height:45em;
  z-index: -99999;
  .form-wrap {
    position: absolute;
    @include media($medium-screen){
      top:45%;
    }
    @include media($large-screen){
      top:30%;
    }
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    .coming-soon {
      font-size: 1.5em;
	  font-weight: 300;
      @include media($medium-screen){
        font-size: 3.5em;
      }
      color: white;
      text-align: center;
    }
    p {
      color: white;
      text-align: center;
    }
    .form-inputs, .form-actions {
      max-width: 188px;
      margin: 0 auto;
    }
  }
}

