<h3>What is a Juice Cleanse?</h3>
<p>A juice cleanse is a set period of time where people drink fresh juice to reduce stress on their digestive systems. At it's core, a juice cleanse is about rest and rejuvenation of mind, body, and spirit. More than just a quick fix, cleansing is a way to start developing practices that lead to lasting health. Cleanses can be as simple as replacing a single meal with a bottle of juice, or replacing several days of solid food in favor of feasting on organic, freshly pressed juice. </p><br>
<h3>Why should I do a cleanse?</h3>
<p>Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. With all of the demands in our modern world, it's important to take the time to release these toxins, as they can lead to both physical and mental imbalances. By taking a break from eating solid foods, your body is free to direct all the energy that is usually uses for digesting food, into targeting and healing specific conditions. The truth is that our body is amazing at healing, when it has the resources and time to do so. During our cleanse, you’ll be flooding your system with pounds of fresh, organic juice each day. The live enzymes and minerals found in our juice allow your body to heal and recharge, while essential nutrients are absorbed directly into your bloodstream. This results in immediate nutrition, designed to detoxify and nourish your entire body.</p>
<p>Whether you’re doing a juice cleanse to jumpstart a new diet or using it as a gateway into a healthier lifestyle; our cleanses are all about becoming more in tune with your body. When used mindfully, they are a powerful tool into experiencing balance, mental clarity, and rejuvenating energy! </p><br>
<h3>Can I go to work while cleansing?</h3>
<p>Yes. It’s a common misconception that you will spend the duration of your cleanse either lounging with cucumber slices over your eyes, or running for the bathroom every hour. Fortunately, this is not the case. If you prepare yourself properly, you should be able to go about your normal life. However, it’s best to schedule your cleanse during a time where you can listen to your body’s needs and follow them. Your busiest and most stressful week of the year would not be the ideal time for a cleanse!</p>
<h3>Can I cleanse while pregnant?</h3>
<p>No. You should not cleanse because you need to add more calories while pregnant or nursing. You also do not want to have your body go into detox mode and release toxins into your bloodstream. However, adding our fresh organic juice to your daily diet is an excellent way to provide essential vitamins, minerals and living enzymes to keep you and your baby healthy during this important time. </p><br>
<h3>Can I exercise during a cleanse?</h3>
<p>Absolutely! If you feel good and want to exercise, do so! You are still sustaining enough of a caloric load to keep your body and mind functioning. Above all, it's important to listen to your body. </p>
<p>Your energy will most definitely fluctuate during a cleanse. Some days you will feel on top of the world and bursting with energy, other days you may feel run down and in need of rest. Be sure to note your energy levels and adjust accordingly. Light exercise such as walking, yoga, and swimming are great ways to boost circulation and support the cleanse process. </p><br>
<h3>Where do I get protein while on a cleanse?</h3>
<p>
Our cleanses provide a rich source of protein found in our green juices as well as our nut milks. Although protein is widely associated with animal sources, don't underestimate the protein punch that comes from living plant foods. Protein is made up of amino acids, also known as the building blocks of protein. They are found in abundance in fruits and vegetables - especially leafy greens. During your cleanse, you'll be flooding your body with plant proteins that are available in our juice and delicious almond and cashew milks. </p>
<p>
It's interesting to observe how some of the strongest animals on earth such as elephants, bison, and gorillas thrive on an all plant diet. These powerhouses certainly don't seem to be lacking protein. Just sayin'</p><br>
<h3>Will I lose weight on a juice cleanse?</h3>
<p>Weight-loss often occurs on the cleanse, but isn't the sole focus, nor the goal of our cleanse. Think of it as a full body reset, prompting your body to re-balance itself. During a cleanse, usually whatever you need to balance out in your body will occur. When given the proper nutrition, our bodies naturally adjust to maintain our ideal weight, effortlessly and instinctively.</p><br>
<h3>Is there anything else I can do to aid in the cleanse process?</h3>
<p>Each juice cleanse will come with detailed instructions to guide you through the process when you pick up your cleanse. Along with your cleanse insert, here are some tools we've found effective in conjunction with the cleanse:</p><br>
<ul class="bullet">
  <li>Skin brushing - stimulates blood flow and supports the lymphatic system.</li>
  <li>Oil pulling - draws out toxins and improves oral health.</li>
  <li>Hot epsom salt baths - opens pores and helps flush out toxins and heavy metals.</li>
  <li>Tongue scraping - improves digestive health.</li>
  <li>Yoga and deep breathing - releases tension and builds awareness.</li>
  <li>10 minutes of Sunlight - boosts vitamin D and improves the immune system.</li>
  <li>Light exercise - boosts circulation.</li>
  <li>Coffee enemas and/or colonics - safe and effective way to support the liver in eliminating toxic build-up.</li>
  <li>And most importantly, enough sleep.</li>
</ul>
<br>
<p>It's important to remember that while on a cleanse, your body is very busy on a cellular level. Be mindful of the signals your body is sending you. If you have concerns, we encourage you to talk with your healthcare professional. </p><br>
<h3>How will I feel during my cleanse?</h3>
<p>
The cleansing process is a very personal experience and varies between person to person. Whether this is your first cleanse or your tenth, each experience is unique. How you will feel during a cleanse largely depends on your current diet, lifestyle factors and well as your own biological makeup. Most people experience some sort of detox reaction during the initial phase of a cleanse. Common detoxification symptoms include fatigue, headaches or mild skin breakouts as your body begins purging toxins. This is a natural part of the process, and although unpleasant, a sign that the cleanse is working. The bulk of these are experienced in the first 24-36 hours; treat yourself kindly and give yourself time and space to rest. After this period, most people claim to feel more vibrant and emotionally alive. You may also experience feelings of euphoria, total mental clarity and super-heightened senses.
</p>
<h3>How many days should I cleanse?</h3>
<p>Ultimately, that depends on your personal experience and health goals. Bloom Juice Co. gives you the option to cleanse for 1, 3, 5, 7 or 10 days which we feel are realistic and achievable. We want you to have a positive experience while cleansing and making the transition into a healthier lifestyle. </p>
<p>If it's your first time, we recommend a 1 to 3 day cleanse as a good starting point. The more days you cleanse, the deeper you clean out your digestive tract while starting to rebuild and strengthen your immune system. It's very common for people to feel so good during their cleanse that they choose to continue for a longer period, in which case you can always extend with a 24 hour notice. </p><br>
<h3>When is the best time to cleanse?</h3>
<p>We recommend cleansing when you have very few distractions and feel you can commit fully to the cleanse. Some things to consider are your experience, work schedule, and social commitments. Ideally, you do not want to cleanse during a high stress period. Give yourself plenty of time to relax, de stress, and focus on yourself. This is as much a mental and emotional experience as it is physical.</p><br>
<h3>How often can I cleanse?</h3>
<p>It really is a personal preference. Some people do a big cleanse once or twice a year, some people do it as a ritual one day a week to reset their bodies. In our experience, cleansing seasonally is wonderful way to maintain health during the changing seasons. As with everything, balance is key. We believe listening to your body is the best way of finding out what works for you.</p><br>
<h3>How do I place my order?</h3>
<p>You can place your order over the phone or in person.</p>
