<ul class="accordion">
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">What is a Juice Cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">A juice cleanse is a set period of time where people drink fresh juice to reduce stress on their digestive system.</a>
      </li>
      <li>
        <a href="javascript:void(0)">At it's core, a juice cleanse is about rest and rejuvenation of mind, body, and spirit. Bloom Juice Cleanses are the ultimate indulgence; a powerful tool to nourish your body from the inside out. </a>
      </li>
      <li>
        <a href="javascript:void(0)">Cleanses can be as simple as replacing a single meal with a bottle of juice, or replacing several days of solid food in favor of feasting on organic, freshly pressed juice.</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
</ul>
