<ul class="accordion">
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">What is a Juice Cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">A juice cleanse is a set period of time where people drink fresh juice to reduce stress on their digestive system.</a>
      </li>
      <li>
        <a href="javascript:void(0)">At it's core, a juice cleanse is about rest and rejuvenation of mind, body, and spirit. Bloom Juice Cleanses are the ultimate indulgence; a powerful tool to nourish your body from the inside out. </a>
      </li>
      <li>
        <a href="javascript:void(0)">Cleanses can be as simple as replacing a single meal with a bottle of juice, or replacing several days of solid food in favor of feasting on organic, freshly pressed juice.</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Why should I do a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Over time, our bodies accumulate toxins from pollutants in the air, chemicals, processed foods, and stress. It's important to take the time to release ourselves of these toxins, as they can lead to both physical and mental imbalances.</a>
      </li>
      <li>
        <a href="javascript:void(0)">We spend an enormous amount of energy on the constant strain of digestion. When we take a break from eating solid foods, our organs are free to redirect blood and energy to the brain, the skin, the liver, and other neglected areas. Our body is a pro at healing itself, when it has the resources and time to do so. </a>
      </li>
      <li>
        <a href="javascript:void(0)">During our cleanse, you'll be feeding your body with pounds of fresh, organic, cold pressed juice each day to keep your metabolism going, your organs supported, and your brain active so you can be fully fed and functioning. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Can I cleanse while pregnant?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">No. You should not cleanse because you need to add more calories while pregnant or nursing. You also do not want to have your body go into detox mode and release toxins into your bloodstream. However, adding our fresh organic juice to your daily diet is an excellent way to provide essential vitamins, minerals and living enzymes to keep you and your baby healthy during this important time. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Can I exercise during a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Absolutely! If you feel good and want to exercise, do so! You are still sustaining enough of a caloric load to keep your body and mind functioning. Above all, it's important to listen to your body. </a>
      </li>
      <li>
        <a href="javascript:void(0)">Your energy will most definitely fluctuate during a cleanse. Some days you will feel on top of the world and bursting with energy, other days you may feel run down and in need of rest. Be sure to note your energy levels and adjust accordingly. Light exercise such as walking, yoga, and swimming are great ways to boost circulation and support the cleanse process. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Where do I get protein while on a cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">
Our cleanses provide a rich source of protein found in our green juices as well as our nut milks. Although protein is widely associated with animal sources, don't underestimate the protein punch that comes from living plant foods. Protein is made up of amino acids, also known as the building blocks of protein. They are found in abundance in fruits and vegetables - especially leafy greens. During your cleanse, you'll be flooding your body with plant proteins that are available in our juice and delicious almond and cashew milks. </a>
      </li>
      <li>
        <a href="javascript:void(0)">
It's interesting to observe how some of the strongest animals on earth such as elephants, bison, and gorillas thrive on an all plant diet. These powerhouses certainly don't seem to be lacking protein. Just sayin'</a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Will I lose weight on a juice cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Weight-loss often occurs on the cleanse, but isn't the sole focus, nor the goal of our cleanse. Think of it as a full body reset, prompting your body to re-balance itself. Your body knows what to do. During a cleanse,
usually whatever you need to balance out in your body will occur. When given the proper nutrition, our bodies naturally balance to maintain our ideal weight, effortlessly and instinctively.</a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Is there anything else I can do to aid in the cleanse process?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Each juice cleanse will come with detailed instructions to guide you through the process when you pick up your cleanse. Along with your cleanse insert, here are some tools we've found effective in conjunction with the cleanse:
       <ul class="bullet">
        <li>Skin brushing - stimulates blood flow and supports the lymphatic system.</li>
        <li>Oil pulling - draws out toxins and improves oral health.</li>
        <li>Hot epsom salt baths - open pores and helps flush out toxins and heavy metals.</li>
        <li>Tongue scraping - improves digestive health.</li>
        <li>Yoga and deep breathing - releases tension and builds awareness.</li>
        <li>10 minutes of Sunlight - boosts vitamin D and improves the immune system.</li>
        <li>Light exercise - boosts circulation.</li>
        <li>Coffee enemas and/or colonics - safe and effective way to support the liver in eliminating toxic build-up.</li>
        <li>And most importantly, enough sleep.</li>

       </ul>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">It's important to remember that while on a cleanse, your body is very busy on a cellular level. Be mindful of the signals your body is sending you. If you have concerns, we encourage you to talk with your healthcare professional. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">How many days should I cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Ultimately, that depends on your personal experience and health goals. Bloom Juice Co gives you the option to cleanse for 1, 3, 5, 7 or 10 days which we feel are realistic and achievable. We want you to have a positive experience while cleansing and making the transition into a healthier lifestyle. </a>
      </li>
      <li>
        <a href="javascript:void(0)">If it's your first time, we recommend a 1 to 3 day cleanse as a good starting point. The more days you cleanse, the deeper you clean out your digestive tract while starting to rebuild and strengthen your immune system. It's very common for people to feel so good during their cleanse that they choose to continue for a longer period, in which case you can always extend with a 24 hour notice. </a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">When is the best time to cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">We recommend cleansing when you have very few distractions and feel you can commit fully to the cleanse. Some things to consider are your experience, work schedule, and social commitments. Ideally, you do not want to cleanse during a high stress period. Give yourself plenty of time to relax, de stress, and focus on yourself. This is as much a mental and emotional experience as it is physical.</a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">How often can I cleanse?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">It really is a personal preference. Some people do a big cleanse once or twice a year, some people do it as a ritual one day a week to reset their bodies. In our experience, cleansing seasonally is wonderful way to maintain health during the changing seasons. As with everything, balance is key. We believe listening to your body is the best way of finding out what works for you.</a>
      </li>
    </ul>
  </li>
 <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">How do I place my order?</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">You can place your order over the phone or in person.</a>
      </li>
    </ul>
  </li>
</ul>
