<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag "bloomLogo.png" %>
      <p>Bloom Juice Co</p>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link more"><a href="javascript:void(0)">shop</a>
          <ul class="submenu">
            <li><%= link_to "juices", juices_path %></li>
            <li><a href="javascript:void(0)">elixirs</a></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">cleanse</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">cleanses</a></li>
            <li><a href="javascript:void(0)">cleanse process</a></li>
            <li><a href="javascript:void(0)">FAQ</a></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">about</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">our story</a></li>
            <li><a href="javascript:void(0)">our values</a></li>
            <li><a href="javascript:void(0)">press</a></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">featured artist</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">current</a></li>
            <li><a href="javascript:void(0)">all artists</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
