<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag "logo.png" %>
      <%#<p>Bloom Juice Co</p>%>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link more"><a href="javascript:void(0)">Shop</a>
          <ul class="submenu">
            <li><%= link_to "Juices", juices_path %></li>
            <li><a href="javascript:void(0)">Milks</a></li>
            <li><a href="javascript:void(0)">Elixirs</a></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">Cleanse</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Cleanses</a></li>
            <li><a href="javascript:void(0)">Cleanse Process</a></li>
            <li><a href="javascript:void(0)">FAQ</a></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">About</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Our Story</a></li>
            <li><a href="javascript:void(0)">Our Values</a></li>
            <li><a href="javascript:void(0)">Press</a></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">Featured Artist</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Current</a></li>
            <li><a href="javascript:void(0)">All Artists</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
