<section class="juices-wrapper">
<ul class="subnav">
  <li><%= link_to "Juices", juices_path %></li>
  <li><%= link_to "Milks", milks_path %></li>
  <li><%= link_to "Elixirs", elixers_path %></li></ul>
<h2>Juices</h2>
<p class="subtitle">Click on individual product for ingredients and health benefits. All of our juices are 100% organic, raw and cold-pressed. Enjoy!</p>
<%= render 'refills/grid_items_lines' %>
</section>
